.modal-buttons {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .37);
  background-color: white;
  color: black;
}

.modal-buttons:hover {
  background-color: #e9fff7;
}

/*styling for the date on the tasks*/
.modal-date {
  font-size: small;
}

.modal {
  background-color: rgba(0,0,0,.37);
  border-radius: 5px;
}

.modal-dialog > .modal-content > .modal-footer > .btn-primary {
  background-color: white;
  color: #95afaf;
  border: 0px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .37);
}

.modal-dialog > .modal-content > .modal-footer {
  background-color: #b2d1d1;
  border: none;
  border-radius: 5px;
}

.modal-dialog > .modal-content > .modal-header {
  background-color: #b2d1d1;
  border: none;
  border-radius: 5px;
  height: auto;
}
