.task-content {
 border-radius: 5px;
 box-shadow: 4px 4px 5px rgba(0, 0, 0, .37);
 margin: 10px 0px;
 font-family: 'Josefin Sans', sans-serif;
}

.col-centered {
    text-align: center;
}

.task-description {
  padding-right: 8.33%
  
}

.task-description span {
  font-size: .75em;
  padding-right: 1vw;
  font-family: 'Quicksand', sans-serif;
}

.edit-button {
  position: static;
  right: unset;
  top: unset;
  height: unset;
  width: unset;
}

.edit-button {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .37);
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, .15);
  font-family: 'Quicksand', sans-serif;
}
.edit-button:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
  border: 1px solid rgba(0, 0, 0, .3);
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/*-------------------------CHECKBOX STYLING-----------------------*/
.complete-box > input {
  display: inline-block;
  box-sizing: content-box;
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  cursor: pointer;
  height: 1.75em;
  width: 1.75em;
}

.checkmark {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-color: #b2d1d1;
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .37);
  box-sizing: content-box;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.complete-box:hover input ~ .checkmark {
  background-color: #95afaf;
}

.complete-box input:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  margin-top: auto;
  margin-bottom: auto;
  content: "✓";
  visibility: hidden;
  color: #95afaf;
  line-height: 1em;
}

.complete-box input:checked ~ .checkmark:after {
  visibility: visible;
}
/* Edit hover icon styling */

.edit-content > button {
  display: inline;
  /* display: inline-block; */
  margin-left: 10px;
  margin-bottom: 10px;
}

.edit-icon {
  opacity: .0;
  margin-top: 10px;
}

.btn-group {
  float: right;
}

/* makes icon visible on hover of task*/
.edit-icon:hover, .task-content:hover + .edit-icon{
  opacity: 1;
}

.right-content{
  padding-left: 0px;
}

.days-old-count {
  font-weight: bold;
  line-height: 1.1;
  padding: 10px;
}

.date {
  text-align: center;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  margin-left: -10%;
}

.dropdown-image {
  height: auto;
  padding-left: -15px;
  padding-right: 5px;
}

.dropdown-image:hover {
  cursor:ponter;
}

@media (max-width: 575px) {
  .task-content .row {
    justify-content: space-around;
  }

  .checkmark {
    font-size: 20px;
  }

  .task {
    width: 95vw;
  }

  .edit-buttons {
    float: right;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
