/* styling for nav add task button */
#navAddTaskButton {
  color: #586060;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .37);

  position: static;
  right: unset;
  top: unset;
  height: unset;
  width: unset;
}
#navAddTaskButton:hover {
  background-color: #e9fff7;
}

.tooltip-btn{
  border-radius: 5px;
  padding: 0px 15px 0px 15px;
  margin: 0px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.37);
  border: 1px solid rgba(0,0,0,.05);
  background-color: inherit;
}

#root {
  background-color: #b2d1d1;
  /* font-size: 1.6rem; */
  /* VV commented out on 10/30/18 for react proj VV */
  padding-top: 85px;
  height: 100vh;
}

.main-container {
  background-color: #b2d1d1;
}

#validation-01 {
  border-radius: 5px;
}

@media (max-width: 575px) {
  .main-task-container {
    width: 95%;
    margin: auto;
  }
}
/* MEDIA QUERIES TO SWAP ADD TASK BUTTON ON SCREEN SIZE CHANGE */
@media (max-width: 915px) {
  .add-task-button {
    display: none;
  }
}
@media (min-width: 916px) {
  #navAddTaskButton {
    display: none;
  }
}
